/* CSS reset */
body {
    background-color:#D0B49F;
    font-family: Georgia, Times, serif;
}

ul {
  list-style-type: none;
}


#navbar {
    background-color:#E4D4C8;
    padding: 15px;
    margin: 25px 120px;
    color: #618685;
    text-align: center;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    color: #523A28;
}

a:hover{
    background-color:#f5deb3;
    padding: 3px 8px;
}

section {
    background-color: #edc9af;
    margin: 15px auto;
    max-width: 850px;
    border: 8px;
    padding: 15px
}

img {
    max-width: 100%;
    height: 420px;
    margin: auto;
    display: block;
}
#main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 50%;
  float:left;
  text-align: center;
}

#main-menu ul li {
  display: block;
  position: relative;
  right: 45%;
  float: left;
}

#main-menu ul li a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: black;
}
#main-menu2 {
  position: relative;
  width: 100%;
}

#map{
 width: 80%;
 height: 600px;
 margin: 20px;
 margin-top: 200px;
 max-width: 100%;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}


}

@media only screen and (max-width: 600px) {
  body {
    background-color: #f2f2f2;
  }

  header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  nav {
    display: block;
    text-align: center;
  }

  nav a {
    display: block;
    margin: 10px 0;
    color: #333;
    text-decoration: none;
  }

  section {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }

  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  body {
    font-size: 16px; /* Adjust font size for tablets */
  }

  header {
    padding: 15px; /* Increase padding for tablets */
  }

  nav a {
    margin: 15px 0; /* Increase margin for tablets */
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 18px; /* Adjust font size for larger tablets */
  }

  section {
    padding: 15px; /* Increase padding for larger tablets */
  }
}
